/*CSS Reset*/

html {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  width: 375px;
  height: 768px;
  display: grid;
  place-content: center;
  margin: auto auto;
  background-image: linear-gradient(
    to top,
    #6565e7,
    #7a66e8,
    #8d66e9,
    #9f67e9,
    #af67e9
  );
}

/*Shared / Selectors*/
.mobile-img {
  position: relative;
  width: 225px;
  height: auto;
}

.desktop-img {
  display: none;
}

/*Styling*/
main {
  width: 325px;
  height: 545px;
  background-color: white;
  border-radius: 20px;
  display: grid;
  justify-content: center;
  grid-template: 115px 1fr / 1fr;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#woman-img-mobile {
  top: -102px;
  left: 45px;
}

#img-shadow-mobile {
  top: -170px;
  left: 45px;
}

.faq-section {
  display: flex;
  flex-direction: column;
  height: 420px;
}

.faq-title {
  text-align: center;
  font-size: 2.75rem;
  margin: 15px auto;
  font-weight: 700;
}

.faq-item:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 85%;
  border-bottom: 1px solid #e7e7e9;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 1.1rem;
  color: #4a4b5e;
  margin: 17.5px 25px;
}

.faq-answer {
  margin: 15px 50px 15px 25px;
  color: #787887;
}

#space-after-answer {
  height: 1px;
}

.faq-question img {
  height: 7px;
  width: 10px;
  align-self: center;
}

/* arrow animation */

details summary > img {
  transition: all 0.3s ease;
}

details[open] summary {
  font-weight: 700;
  color: #1d1e35;
}

details[open] summary > img {
  transform: rotate(180deg);
}

/*Breakpoint Styling*/

@media (min-width: 1440px) {
  body {
    width: 1440px;
    overflow: hidden;
  }

  main {
    width: 920px;
    height: 500px;
    justify-items: center;
    grid-template: 500px / 460px 460px;
    overflow: hidden;
    margin: auto auto 200px auto;
  }
  .desktop-img {
    display: block;
    position: relative;
  }

  .mobile-img {
    display: none;
  }

  .woman-img {
    position: relative;
  }

  #img-box {
    top: 380px;
    right: 100px;
    width: 200px;
    z-index: 2;
  }

  #woman-img-desktop {
    top: 50px;
    right: -180px;
    width: 500px;
    z-index: 1;
  }

  #img-shadow-desktop {
    top: -695px;
    right: 315px;
    width: 1000px;
    z-index: 0;
  }

  .faq-section {
    margin: 0;
    height: 355px;
    margin-right: 90px;
    margin-left: 25px;
  }

  .faq-item {
    width: 350px;
  }

  .faq-item:after {
    width: 100%;
  }

  .faq-question {
    width: 100%;
    margin: 15px auto;
    font-size: 1.25rem;
  }

  .faq-item:hover > summary {
    cursor: pointer;
  }

  details[open] summary {
    color: #1d1e35;
  }

  .faq-answer {
    margin-left: 0;
    margin-right: 5px;
    font-size: 1.05rem;
  }

  .faq-title {
    text-align: start;
    margin: 70px auto 25px 0px;
  }
}
